/* styles/WindInput.module.css */
.wind {
  margin: 5px;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wind.activeButton {
  background-color: #005bb5;
}
